<div class="mx-2">
  <h3 class="font-weight-bold">{{ 'Manager.ResellerAdd.Title' | translate }}</h3>
</div>

<form [formGroup]="resellerForm" (ngSubmit)="onSubmit()">
  <div class="my-3">
    <div>{{ 'Manager.ResellerAdd.Name' | translate }}</div>
    <input type="text" class="w-100" pInputText formControlName="name" />
  </div>
  <div formGroupName="settings">
    <div class="my-3">
      <div>{{ 'Manager.ResellerAdd.BrandName' | translate }}</div>
      <input type="text" class="w-100" pInputText formControlName="BrandName" />
    </div>
    <div class="my-3">
      <div>{{ 'Manager.ResellerAdd.DomainName' | translate }}</div>
      <div>
        <input type="text" class="w-50" pInputText formControlName="DomainName" />
        <span>.totalsds.com</span>
      </div>
      <span class="text-danger text-xs" *ngIf="settingsControl.controls['DomainName'].hasError('invalidDomain')">
        {{ 'Manager.ResellerAdd.DomainNameValidatorMessage' | translate }}
      </span>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button
      pButton
      pRipple
      type="button"
      label="{{ 'Global.Cancel' | translate }}"
      class="p-button-text mr-2 py-0 btn-cancel"
      (click)="onCancel()"
    ></button>
    <button
      [disabled]="resellerForm.invalid"
      pButton
      type="submit"
      label="{{ 'Global.Save' | translate }}"
      styleClass="p-button-sm"
      class="btn-submit"
    ></button>
  </div>
</form>
